
  <h3> Here's some basic information about me:</h3>
  <table id="facts_table">
    <thead>
      <tr>
        <th colspan="3">

        </th>
      </tr>
    </thead>

    <tr>
      <td><img class="table_icon" src="icons/birthday.png"></td>
      <td>Age</td>
      <td><%= @all_ages["Jessica"] %></td>
    </tr>
    <tr>
      <td><img class="table_icon" src="icons/stork.jpg"></td>
      <td>Birthplace</td>
      <td>Melbourne, Australia</td>
    </tr>
    <tr>
      <td><img class="table_icon" src="icons/home.png"></td>
      <td>Other Cities</td>
      <td>Champagne, IL <br> St.Charles, IL <br> Marblehead, MA <br> Hinsdale, IL <br> Needham, MA <br> Ft. Lauderdale, FL <br> Seattle, WA</td>
    </tr>
    <tr>
      <td><img class="table_icon" src="icons/job.jpeg"></td>
      <td>Jobs</td>
      <td>Program Manager <br> Mechanical Engineer</td>
    </tr>
    <tr>
      <td><img class="table_icon" src="icons/sport.png"></td>
      <td>Favorite Sport</td>
      <td>Ice Hockey</td>
    </tr>
    <tr>
      <td><img class="table_icon" src="icons/hockey.png"></td>
      <td>Favorite Sports Team</td>
      <td>Chicago Blackhawks</td>
    </tr>
    <tr>
      <td><img class="table_icon" src="icons/food.png"></td>
      <td>Favorite Foods</td>
      <td>Salmorejo <br> Sushi <br> Chex Mix</td>
    </tr>
    <tr>
      <td><img class="table_icon" src="icons/drink.jpg"></td>
      <td>Favorite Drink</td>
      <td>Whisky Sour</td>
    </tr>
    <tr>
      <td><img class="table_icon" src="icons/interests.png"></td>
      <td>Interests</td>
      <td>Space Travel <br> Spanish <br> Music</td>
    </tr>
  </table>


<h3>Here's some information about my pets and plants:</h3>
  <table id="pets_table" >
    <thead>
      <tr>
        <th></th>
        <th>
          Type
        </th>
        <th>
          Name
        </th>
        <th>
          Age
        </th>
      </tr>
    </thead>
    <tr>
      <td><img class="table_icon" src="icons/dog.png"></td>
      <td>
        Dog
      </td>
      <td>
        Kepler
      </td>
      <td>
        <%= @all_ages["Kepler"] %>
      </td>
    </tr>
    <tr>
      <td><img class="table_icon" src="icons/fish.png"></td>
      <td>
        Fish
      </td>
      <td>
        Jekyll
      </td>
      <td>
        <%= @all_ages["Jekyll"] %>
      </td>
    </tr>
    <tr>
      <td><img class="table_icon" src="icons/fish.png"></td>
      <td>
        Fish
      </td>
      <td>
        Hyde
      </td>
      <td>
        <%= @all_ages["Hyde"] %>
      </td>
    </tr>
    <tr>
      <td><img class="table_icon" src="icons/plant.png"></td>
      <td>
        Basil Plant
      </td>
      <td>
        Sil
      </td>
      <td>
        <%= @all_ages["Sil"] %>
      </td>
    </tr>
    <tr>
      <td><img class="table_icon" src="icons/cactus.png"></td>
      <td>
        Cactus
      </td>
      <td>
        JimJohn
      </td>
      <td>
        <%= @all_ages["JimJohn"] %>
      </td>
    </tr>
    <tr>
      <td><img class="table_icon" src="icons/palm.jpeg"></td>
      <td>
        Ponytail Palm
      </td>
      <td>
        Lemondrop
      </td>
      <td>
        <%= @all_ages["Lemondrop"] %>
      </td>
    </tr>
  </table>

  <h3>Here are some photos I have taken recently:</h3>
    <script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/ec54f0bab38567b17baaddc4e43f4688b80605fc.html" id="instansive_ec54f0bab3" name="instansive_ec54f0bab3"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

  <div class ="profile_icons prof_icons_other">

    <a  class="font_awesome" href="https://github.com/noglows" aria-label="Visit my GitHub"><i aria-label="Visit my GitHub" class="fa fa-github-square fa-5x"></i></a>

    <a class="font_awesome" href="https://twitter.com/nojessicaglows" aria-label="Visit my Twitter"><i aria-label="Visit my GitHub" class="fa fa-twitter-square fa-5x"></i></a>

    <a class="font_awesome" href="https://www.linkedin.com/in/jessicanoglows" aria-label="Visit my LinkedIn"><i aria-label="Visit my GitHub" class="fa fa-linkedin-square fa-5x"></i></a>

  </div>
